body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header, footer {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  text-align: center;
}

main {
  padding: 20px;
  background-color: #fff; 
}

h1, h2, p {
  color: #333;
}

button {
  background-color: #3498db;
  color: #fff;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #2074a0;
}
